page-home {
	
    ion-title {
      padding: 25px 10px 10px 0px !important;  
    }
   .home-content {
		.rounded-button {
			border-radius: 5px !important;
 		}
    	ion-content {
        	padding: 7px !important;
    	}
    } 
}
